* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cormorant Garamond', serif;
}

a {
  color: #fff;
}

h1 {
  font-size: calc(1.5em + 1.5vw);
  letter-spacing: 10px;
  margin-bottom: 18px;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.img-item {
  width: 315.75px;
  height: 315.75px;
  padding: 10px;
}

header {
  height: 100vh;
  background: url(../images/page1-img1.jpg) no-repeat left top;
}

header .menu-slogan {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1.5px;
  margin-top: 60px;
}

header .menu-slogan .menu_contact {
  margin-top: 100px;
  letter-spacing: 2px;
}

header .mobile {
  display: none;
}

.navbar {
  border-bottom: 1px solid #45494D;
  padding: 22px;
  font: 600 14px/28px 'Montserrat',sans-serif;
  background-color: rgba(23, 28, 34, 0.9);
  z-index: 999;
}

.navbar .navbar-brand {
  font: bold 20px/50px 'Libre Baskerville',serif;
  letter-spacing: 4px;
  color: #d4cba5;
}

.navbar .main-nav .nav-item .active {
  color: #d4cba5;
  background-color: transparent;
  font-weight: bold;
}

.navbar .main-nav .nav-item .nav-link:hover {
  background-color: #d4cba5;
  color: #fff;
  transition: linear 0.3s;
}

.navbar .main-nav .icon {
  cursor: pointer;
}

.navbar .main-nav .icon:hover {
  color: #d4cba5;
  transition: linear 0.3s;
}

.navbar .main-nav .icon:active {
  color: #45494D;
}

.navbar .main-nav .show > .nav-link {
  background-color: #d4cba5;
  color: #45494D;
}

.navbar .main-nav [class*="label"] {
  color: #45494D;
}

.navbar .social-media {
  border-left: 1px solid #45494D;
  padding-left: 12px;
}

.navbar .social-media [class*="fab"] {
  padding: 12px;
}

.navbar .social-media [class*="fab"]:hover {
  color: #d4cba5;
  transition: linear 0.3s;
}

.main-content-img .figure:nth-child(1) > img {
  bottom: 20%;
}

.main-content-img .figure:nth-child(3) > img {
  bottom: 20%;
}

.main-content .sign-item {
  font-family: 'Dancing Script', cursive;
}

.main-content-menu {
  background-color: #171C22;
}

.main-content-menu .menu {
  margin-top: 50px;
}

.main-content-menu .menu .menu-item:not(.first) {
  border-top: 1px dotted #434851;
}

.main-content-menu .menu .menu-item-text {
  font-size: 15px;
}

.main-content-menu .menu .menu-item-price {
  color: #d4cba5;
  font-family: 'Bellefair', serif;
}

.booking-wrapper {
  background: url("../images/page1-img1.jpg") no-repeat bottom fixed;
}

.booking-wrapper .booking {
  border: 1px solid #45494D;
  padding: 40px;
  background-color: rgba(29, 32, 35, 0.7);
  min-width: 50%;
}

@media (max-width: 991px) {
  .menu .menu-item {
    border-top: 1px dotted #434851;
  }
}

@media (max-width: 768px) {
  header .mobile {
    display: block;
  }
  header .mobile .navbar {
    border-bottom: none;
  }
  header .mobile .btn-mobile {
    position: absolute;
    right: 0;
    top: 1%;
  }
  header .desktop {
    display: none;
  }
  header .menu-slogan .menu_contact {
    display: none;
  }
  .main-content-img .figure:nth-child(1) > img {
    bottom: 0;
  }
  .main-content-img .figure:nth-child(3) > img {
    bottom: 0;
  }
  .footer .social-media {
    border: none;
  }
}
/*# sourceMappingURL=style.prefixed.css.map */