
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cormorant Garamond', serif;
}

a {
    color: #fff;
}

h1 {
    letter-spacing: 10px;
    margin-bottom: 18px;
} 

section {
    padding: 50px 0;
}

.img-item {
    width: 315.75px;
    height: 315.75px;
    margin: 15px;
}

header {
    height: 100vh;
    background: url(../images/page1-img1.jpg) no-repeat left top;

    .menu-slogan {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 1.5px;

        .menu_contact {
            margin-top: 120px;
            letter-spacing: 2px;
        }
    }

    .mobile {
        display: none;
    }
}

.navbar {
    border-bottom: 1px solid #45494D;
    padding: 22px;
    font: 600 14px/28px 'Montserrat',sans-serif;
    background-color: rgba(#171C22, 0.9);
    z-index: 999;

    .navbar-brand {
        font: bold 20px/50px 'Libre Baskerville',serif;
        letter-spacing: 4px;
        color: #d4cba5;
    }

    .main-nav {

        .nav-item {

            .active {
                color: #d4cba5;
                background-color: transparent;
                font-weight: bold;
            }

            .nav-link:hover {
                background-color: #d4cba5;
                color: #fff;
                transition: linear 0.3s;
            }
        }

        .icon {
            cursor: pointer;

            &:hover {
                color: #d4cba5;
                transition: linear 0.3s;
            }

            &:active {
                color: #45494D;
            }
        }

        .show > .nav-link {
            background-color: #d4cba5;
            color: #45494D;
        }

        [class*="label"] {
            color: #45494D;
        }
    }

    .social-media {
        border-left: 1px solid #45494D;
        padding-left: 12px;

        [class*="fab"] {
            padding: 12px;

            &:hover {
                color: #d4cba5;
                transition: linear 0.3s;
            }
        }
    } 
}

.main-content-img {

    .figure:nth-child(1) > img {
        bottom: 20%;
    }

    .figure:nth-child(3) > img {
        bottom: 20%;
    }
}

.main-content {

    .sign-item {
        font-family: 'Dancing Script', cursive;
    }
}

.main-content-menu {
    background-color: #171C22;

    .menu {
        margin-top: 50px;

        .menu-item:not(.first) {
            border-top: 1px dotted #434851;
        }

        .menu-item-text {
            font-size: 15px;
        }

        .menu-item-price {
            color: #d4cba5;
            font-family: 'Bellefair', serif;
        }
    }
    
}

.booking-wrapper {
    background: url('../images/page1-img1.jpg') no-repeat bottom fixed;

    .booking {
        border: 1px solid #45494D;
        padding: 40px;
        background-color: rgba(#1D2023, 0.7);
        width: 50%;
    }
}

@media (max-width: 991px) {
    .menu {

        .menu-item {
            border-top: 1px dotted #434851;
        }
    }
}

@media (max-width: 768px) { 

    header {

        .mobile {
            display: block;
        }

        .navbar-desktop {
            display: none;
        }
    } 
 }
